body{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image:radial-gradient(rgba(82, 82, 82, 0),rgba(0, 0, 0, 0)),url(img/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;

}
/*contenedor del formulario*/
.login{
    background-color: rgba(0, 0, 0, 0.438);
    margin: auto;
    margin-top: 7%;
    width: 50dvw;
    padding: 1.5rem;
    padding-bottom: 100px;
    border-radius: 20px;    
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.425);
    filter: drop-shadow(3px 3px 3px rgba(185, 185, 185, 0.479));
}
.login  h2{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
    border-left:2px solid rgba(255, 248, 248, 0);
    border-right:2px solid rgba(191, 191, 191, 0) ;
}
/*formulario*/
.formulario{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
label{
    color:aliceblue;
    margin: auto;
    line-height: 2rem;
}
.item{
    display: block;
    min-width: 50%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    color: white;   
    background-color: rgb(0, 0, 0);
}
.item:focus{
    outline: none;  
    border-left:2px solid rgb(191, 191, 191);
    border-right:2px solid rgb(191, 191, 191) ;
    box-shadow:1px 1px 2px rgb(156, 156, 156) inset;
}
.submit{
    width: 6rem;
    max-width: 400px;
    margin: auto;
    margin-top: 2rem;
    background-color: #f5f5f5;
    color: black;
    font-size: 1.2rem
}
/*media queries para responsive*/
@media (max-width: 1100px) {
    .login{
        margin: 15% 15%;
    }
    body{
        background-size: cover;
        background-attachment: fixed;
       
    }
    
}
.regis{
    width: 60%;
}